<!--<!DOCTYPE html>-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MN49CSK');</script>
        <!-- End Google Tag Manager -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151205123-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-151205123-1');
        </script>
        <meta name="theme-color" content="#DEDE6C">
        <meta property="og:site_name" content="CraftOS-PC">
        <meta property="og:title" content="CraftOS-PC">
        <meta property="og:description" content="A fast and feature-filled ComputerCraft emulator">
        <meta property="og:image" content="https://www.craftos-pc.cc/images/image1.png">
        <meta property="og:url" content="https://www.craftos-pc.cc/">
        <meta property="twitter:title" content="CraftOS-PC">
        <meta property="twitter:description" content="A fast and feature-filled ComputerCraft emulator">
        <meta property="twitter:image" content="https://www.craftos-pc.cc/images/image1.png">
        <meta property="twitter:card" content="summary_large_index">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="description" content="The fastest emulator for ComputerCraft 1.8, CraftOS-PC adds many new features to CraftOS while staying as lightweight as possible.">
        <script type="application/ld+json">
            {
              "@context": "https://schema.org/", 
              "@type": "BreadcrumbList", 
              "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Home Page",
                "item": "https://www.craftos-pc.cc/"
              },{
                "@type": "ListItem", 
                "position": 2, 
                "name": "Getting Started",
                "item": "https://www.craftos-pc.cc/docs/getting-started"  
              },{
                "@type": "ListItem", 
                "position": 3, 
                "name": "Documentation",
                "item": "https://www.craftos-pc.cc/docs/"  
              },{
                "@type": "ListItem", 
                "position": 4, 
                "name": "CraftOS-PC Online",
                "item": "https://www.craftos-pc.cc/online/"  
              }]
            }
        </script>
        <title>CraftOS-PC - A fast and feature-filled ComputerCraft emulator - Home Page</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" as="style" type="text/css" media="all" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=optional" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=optional" rel="stylesheet" type="text/css" media="all">
        <link rel="preload" as="style" type="text/css" media="all" href="site.css" />
        <link rel="stylesheet" href="site.css" type="text/css">
        <link rel="preload" as="style" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
        <script src="dist/fontawesome-user-agent.min.js"></script>
        <script src="index.js"></script>
        <link rel="icon" href="/favicon.ico">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MN49CSK"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="main">
            <div id="scrolling-box">
                <div id="scrolling-content">
                    <% details.forEach((data) => { %>
                    <%- data.image === "screenshot.gif" ? "" : include('scrolling-image', {detail: data, imageSizes: imageSizes}); %>
                    <% }); details.forEach((data) => { %>
                    <%- data.image === "screenshot.gif" ? "" : include('scrolling-image', {detail: data, imageSizes: imageSizes}); %>
                    <% }); %>
                </div>
            </div>
            <div class="after-scrolling">
                <div class="title-box">
                    <div class="title-content">
                        <picture>
                            <source srcset="images/webp/logo.webp" type="image/webp">
                            <source srcset="images/logo.png" type="image/png">
                            <img class="title-image" src="images/logo.png" alt="CraftOS-PC logo">
                        </picture>
                        <script>
                            // polyfill for min/max
                            const browserInfo = getBrowserInfo(navigator.userAgent);
                            if (!(
                                ((browserInfo.sName == "Chrome" || browserInfo.sName == "MSIE") && browserInfo.sVersion >= "79") ||
                                (browserInfo.sName == "Firefox" && browserInfo.sVersion >= "75") ||
                                (browserInfo.sName == "Opera" && browserInfo.sVersion >= "66") ||
                                (browserInfo.sName == "Safari" && browserInfo.sVersion >= "11.3"))) {
                                const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
                                const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0);
                                document.getElementsByClassName("title-image")[0].style.height = Math.max(0.15 * vw, 0.15 * vh);
                                document.getElementsByClassName("title-image")[0].style.marginTop = Math.min(-0.075 * vw, -0.075 * vh);
                            }
                        </script>
                        <h1 class="title-title">CraftOS-PC</h1>
                        <h2 class="title-subtitle">A fast and feature-filled ComputerCraft emulator</h2>
                        <h4 class="title-version">Current Version: <span id="current-version"><%= tag %></span></h4>
                        <a href="https://github.com/MCJack123/craftos2/" id="download-link">
                            <div class="download-button">
                                <div id="download-button">
                                    <span class="download-icon"><i class="fab fa-github"></i></span>
                                    <span class="download-text">&nbsp;View on GitHub&nbsp;<span id="download-platform"></span></span>
                                </div>
                                <h5 id="mac-universal-note" style="display: none">CraftOS-PC runs natively on Apple Silicon Macs.</h5>
                            </div>
                        </a>
                        <h5><span id="download-source">or get the source on <a href="https://github.com/MCJack123/craftos2">GitHub</a>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="docs/getting-started">Getting Started</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="docs/">Documentation</a></h5>
                        <!--<h4>CraftOS-PC Online is a full ComputerCraft IDE that runs entirely in your browser. <a href="online/">Try it here!</a></h4>-->
                    </div>
                </div>
                <div id="details-box">
                    <% details.forEach((data) => { %>
                    <%- include('details-entry', {detail: data, imageSizes: imageSizes}); %>
                    <% }); %>
                </div>
                <div class="footer-box">
                    <span>&copy; 2019-2021 JackMacWindows</span>
                    <a href="docs/">Documentation</a>
                    <a href="docs/privacy">Privacy Policy</a>
                    <a href="online/" class="mobile-hidden">CraftOS-PC Online</a>
                    <a href="nightly/" class="mobile-hidden">Beta builds</a>
                    <a href="https://github.com/MCJack123/craftos2/" class="mobile-hidden">GitHub</a>
                    <a href="discord" class="mobile-hidden">Discord</a>
                </div>
            </div>
            <div id="cookie-banner" style="display: none">
                <p>This site uses cookies for analytics. By using this site, you agree to the <a href="docs/privacy">privacy policy</a>.</p>
                <p class="cookie-banner-close" onclick="acceptCookies()">OK</p>
            </div>
        </div>
        <script>ready()</script>
    </body>
</html>
