<html>

<head>
    <meta charset="utf8">
    <title>CraftOS-PC Nightly for Windows/Android</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" as="style" type="text/css" media="all" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=optional" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=optional" rel="stylesheet" type="text/css" media="all">
    <link rel="preload" as="style" type="text/css" media="all" href="/site.css" />
    <link rel="stylesheet" href="/site.css" type="text/css">
</head>

<body style="padding: 20px; width: auto; height: auto;">
    <h1 style="text-align: center">Beta releases of CraftOS-PC for Windows/Android</h1>
    <h3>Android Builds</h3>
    <p>These are builds of CraftOS-PC for Android that have been released as betas. These may be buggy - use at your own risk.</p>
    <ul style="line-height: 1.5">
        <%- entriesAndroid %>
    </ul>
    <h3>Windows Builds (Old)</h3>
    <p><b>As of September 7, 2021, nightly builds are discontinued in favor of CI artifacts.</b> To get the latest build, go to the <a href="https://github.com/MCJack123/craftos2/actions">GitHub Actions page</a>, click on the latest commit, and download
        the ZIP under Artifacts.</p>
    <p>Warning: These are experimental and may not work correctly. The files are available as the raw binary; installer &amp; ROM not included. To use them, just drop the executable in the same directory as your standard CraftOS-PC installation. Nightly
        builds are built with console support - they're equivalent to CraftOS-PC_console.exe.</p>
    <p>The files below are listed by build date from latest to earliest. If a build is missing for a day, that means no changes were made since the last build.</p>
    <ul style="line-height: 1.5">
        <%- entries %>
    </ul>
</body>

</html>